body {
 background-color: rgb(40,40,40);
}

h1 {
 color: purple; 
}

.flex-container {
  display: flex;
  background-color: rgb(80,80,80);
  justify-content: space-between;
}

.flex-container > header {
  background-color: rgb(232,232,232);
  margin: 10px;
  padding: 20px;
  font-size: 30px;
}

.flex-container > section {
  background-color: rgb(232,232,232);
  margin: 10px;
  padding: 20px;
  font-size: 30px;
}
