h1 {
  color: blue;
}


p {
  border-width: 2px;
  border-style: solid;
  border-color: green;
}

span {
  background-color: lightblue; 
}

figure {
  border-width: 2px;
  border-style: solid;
  border-color: green;
  margin-left: 0px;
  margin-right: 0px;
}

strong {
  color: blue;
  fontsize: 105%;
}
